
process {
    executor = 'slurm'
    queue = 'hns,owners,dpetrov,normal'
    clusterOptions = '--no-requeue'
}

executor {
  pollInterval = '30 sec'
  queueSize = 200
}

params {
  query = "query_fastas.tsv"
  minseqlen = 20000000
  ref_genome  = 'test-data/sis2-161031-pseudohap2.1.fasta.gz'
  lastdb_options = '-cR11 -uNEAR'
  lastal_options = '-m50 -E0.05'
}
