
process {
    executor = 'slurm'
    queue = 'hns,owners,dpetrov,normal'
    clusterOptions = '--no-requeue'
}

executor {
  pollInterval = '30 sec'
  queueSize = 200
}

params {
  output_prefix = "sis11_sis21"
  query_fastas  = 'test_data/sis1-161031-pseudohap2.1.fasta.gz'
  ref_genome  = 'test_data/sis2-161031-pseudohap2.1.fasta.gz'
  lastdb_options = '-cR11 -uNEAR'
  lastal_options = '-m50 -E0.05'
}